<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main h-screen w-full bg-zinc-900 text-white p-5">
      <a href="/" class="text-blue-500 mb-5 inline-block">Go to Home Page</a>
      <h1 class="text-3xl my-2"><%= fileName %></h1>
      <p><%= description %></p>
    </div>
  </body>
</html>
